    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="text-muted"><font size="+1">At the CASTOR Software Days, software researchers, engineers and students meet to present and discuss cutting-edge technology, state of the art and current challenges in three areas:</font></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps</h4>
                    <p class="text-muted">Automation from continuous integration to runtime operations</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Safety and Security</h4>
                    <p class="text-muted">Hardening the software stack</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrows-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Large-Scale Distributed Systems</h4>
                    <p class="text-muted">Operations and data analysis at scale</p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted"><font size="+1">The days will mix keynotes, academic and industry talks, demos, lightning talks and student events. These software days are organized by the <a href="https://www.castor.kth.se/">CASTOR software research center</a> and are the first incarnation of an annual series of events.</font></p>
                </div>
            </div>
        </div>
    </section>
