 <section id="partners"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Partners</h2>
                    <center><img src="img/logos/llvm.png" width="400" align="center"></center>
                    <br>
                    <p class="text-muted"><font size="+1">LLVM / Clang Sweden Socials</font></p>
                </div>
            </div>
        </div>
    </section>
