 <section id="supporters" class="bg-light-gray">
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.castor.kth.se/">
                        <img src="img/logos/castor.png" width="300" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.ericsson.com">
                        <img src="img/logos/ericsson.png" width="130" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.kth.se/">
                        <img src="img/logos/kth.jpg" width="120" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://saab.com">
                        <img src="img/logos/saab.png" width="140" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <center>
                        <a href="https://www.meetup.com/LLVM-Clang-Sweden-socials/">
                            <img src="img/logos/llvm.png" width="400" align="center">
                        </a>
                    </center>
                    <br>
                    <p class="text-muted"><font size="+1">LLVM / Clang Sweden Socials</font></p>
                </div>
            </div>
        </div>
    </aside>
 </section>
