    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <center><img class="venue-img" src="img/campus.jpg"></center>
                    <br>
                    <p class="text-muted"><font size="+1">The CASTOR Software Days will be held at KTH main campus<br>
                    SE-100 44, Stockholm, Sweden<br>
                    <a href="https://www.kth.se/places/room/id/31c019b9-674b-41ca-aa5b-6b0a2ab0cc68?l=en">D1, Lindstedtsvägen 17</a>, floor 6.<br>
                    Welcome cocktail will be held in <a href="https://www.kth.se/places/room/id/2cf1cb78-208e-424a-a931-7ce01e80e624">reaktorhallen</a> on Monday Oct 14 at 16h30.<br>
                    Posters will be presented in <a href="https://www.kth.se/places/room/id/de8a7fa7-90dc-4ae7-ab75-282b6020d8a5">U21</a> on Tuesday Oct 15.<br>
                    Concert will be at <a href="https://www.openstreetmap.org/directions?engine=graphhopper_foot&route=59.3472%2C18.0743%3B59.3440%2C18.0808#map=17/59.34553/18.07688">KMH</a> on Tuesday Oct 15.<br>
                    <img style="width: 500px; margin-top: 60px" src="img/map.png"/>
                </div>
            </div>
        </div>
    </section>